<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body ng-app="playground">
    <div id="ace"></div>
    <div id="out" ng-controller="Output">
      <pre ng-bind="output"></pre>
    </div>
    <div id="controls" ng-controller="Controls">
      <button ng-click="run()">Run</button>
      <button ng-click="login()">Login</button>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>