#controls(ng-controller="Controls")

  .ui.vertical.animated.button(ng-click="run()")
    .hidden.content Run
    .visible.content
      i.play.icon
  .ui.vertical.animated.button(ng-click="share()", ng-class="{green:sharing}")
    .hidden.content {{ sharing ? 'Cancel' : 'Share' }}
    .visible.content
      i.share.icon
  .ui.vertical.animated.button(style="padding-top:4px;padding-bottom:3px;", ng-click="toggleMode()")
    .hidden.content {{ mode == 'javascript' ? 'Coffee' : 'JS' }}
    .visible.content
      img(ng-if="mode == 'javascript'" src="img/js.png", width="24px")
      img(ng-if="mode == 'coffee'" src="img/coffee.png", width="24px")
  a(href="https://github.com/jpillora/js-play" target="_blank")
    .ui.vertical.animated.button(style="padding-top:4px;padding-bottom:3px;")
      .hidden.content Fork
      .visible.content
          img(src="img/octocat.png", height="24px")
