#controls(ng-controller="Controls")

  .ui.vertical.animated.button(ng-click="run()", ng-class="{green: running}")
    .hidden.content Run
    .visible.content
      i.icon(ng-class="{play: !running, swirl: running, loading: running}")
  .ui.vertical.animated.button(ng-click="share()", ng-class="{green:sharing}")
    .hidden.content {{ sharing ? 'Cancel' : 'Share' }}
    .visible.content
      i.share.icon
  .ui.vertical.button(style="padding-top: 9px; padding-bottom: 3px; height: 31px; width: 52px;", ng-click="toggleMode()")
    {{ modeLabel() }}
  a(href="https://github.com/jpillora/js-play" target="_blank")
    .ui.vertical.animated.button(style="padding-top:4px;padding-bottom:3px;")
      .hidden.content Fork
      .visible.content
          img(src="img/octocat.png", height="24px")
