#spotlight.abs
  .fader.abs
  .container
    .inputs.abs
      .ui.fluid.icon.input
        input(type="text",placeholder="Search...")
        i.search.icon
    .results
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
      p results...
