@color: #4D926F;

body {
  margin: 0px;
  padding: 0px;
}

body > div {
  background-color: whiteSmoke;
}

label {
  display: inline;
  cursor: pointer;
}

pre {
  border-radius: 0px;
  border: none;
}

.alert {
  position: absolute;
  z-index: 10;
  margin: 10px;
  opacity: 0.8;
  bottom: 60px;
}
.container {
  position: absolute;
}

#editor_container {
  width: 50%;
  #editor {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

#controls {
  opacity: 0.8;
  z-index: 10;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  margin: 10px;
  border: thin solid #999;
  border-radius: 5px;
  display: inline;
  width: inherit;
  .tip {
    font-style: italic;font-size: 0.75em;
  }

  #saveName {
    width: 60px;
  }

  #loadList {
    right: 5px;
    padding: 6px;
    bottom: 38px;
    max-height: 200px;
    overflow: scroll;
    border: thin solid #999;
    border-radius: 5px;
    background: whiteSmoke;
    width: inherit;
    div {
      cursor: pointer;
      text-decoration: none;
      text-shadow: none;  
      -webkit-transition: 100ms linear 0s;  
      -moz-transition: 100ms linear 0s;  
      -o-transition: 100ms linear 0s;  
      transition: 100ms linear 0s;  
      outline: 0 none;  
      &:hover {
        text-shadow: -1px 1px 8px #000, 1px -1px 8px #000;  
      }
    }
  }
}

#results {
  overflow: scroll;
  width: 50%;
  right: 0px;
  #output {
    background: whiteSmoke;
  }


}


