#out
  z-index: 1
  padding-left 5px
  overflow-y auto
  pre
    font-family 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important
    word-wrap break-word
    white-space pre-wrap
    font-size 1.25em
    color white
    margin 0

.vertical #out
  left 50%
  width 50%
  border-left lightGrey thin solid

.horizontal #out
  top 50%
  height 50%
  border-top lightGrey thin solid