#out
  left 50%
  width 50%
  z-index: 1
  border-left lightGrey thin solid
  padding-left 5px
  overflow-y auto
  pre
    word-wrap break-word
    font-size 16px
    line-height 21px
    color white
    margin 0